/* Color scheme */
/* #150A41, #FFE1C8, #55003B */
/* light blue: rgb(200, 225, 250) */
/* rgb(25, 75, 45) */

/* nav bar styling */
#nav {
   z-index: 500;
   /* Prevent content from overlapping nav bar */

}

/* Styling of nav bar list */
/* Perhaps some of the below is not used? */
#nav ul {
   display: inline;
   list-style-type: none;
   margin: 0px;
   padding: 10px;
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-image: url('pictures/escudero_2017_antartic_research_group_crop.jpg');
}

/* Orient list horizontal, not vertical */
#nav ul li {
   display: inline-block;
   color: rgb(238, 252, 255);
   padding: 10px;
}

/* Link colors in nav bar */
#nav li>a {
   color: rgb(238, 252, 255);
}

/* Remove underlines in the links in the nav bar */
#nav li a:link {
   text-decoration: none;
}

#nav li a:visited {
   text-decoration: none;
}

#nav li a:hover {
   text-decoration: none;
}

#nav li a:active {
   text-decoration: none;
}


h1 {
   padding-top: 1em;
}


body {
   background-image: url('pictures/escudero_2017_antartic_research_group_crop.jpg');
   background-size: cover;
   display: flex;
   flex-direction: column;
   background-color: rgb(238, 252, 255);
   color: rgb(43, 42, 42);
   /*rgb(214, 200, 175);*/
   text-align: left;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14;
   min-height: 100vh;
   padding-left: 20px;
}


#footerdiv {
   display: flex;
   flex-direction: column;
}


.footer {
   height: 60px;
   width: 100%;
   background-color: black;
   color: rgb(83, 84, 85);
   position: fixed;
   bottom: 0px;
}