
/* Color scheme */
/* #150A41, #FFE1C8, #55003B */
/* light blue: rgb(200, 225, 250) */



/* Styling of nav bar list */
/* Perhaps some of the below is not used? */
#nav ul {
   display: inline;
   list-style-type: none;
   margin: 0px;
   padding: 10px;
   overflow: hidden;
   background-color: rgb(48, 3, 153);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
  }

/* Orient list horizontal, not vertical */
#nav ul li {
   display: inline-block;
   color: rgb(200, 225, 250);
   padding: 10px;
}

/* Link colors in nav bar */
#nav li > a {
   color: rgb(200, 225, 250);
}

/* Remove underlines in the links in the nav bar */
#nav li a:link { text-decoration: none; }
#nav li a:visited { text-decoration: none; }
#nav li a:hover { text-decoration: none; }
#nav li a:active { text-decoration: none; }


/* The nav bar takes up vertical space, so we have to move the rest of the page down */
h1 {
   padding-top: 2em;
}

body {
   background-color: rgb(200, 225, 250);
   text-align: left;
   font: 14pt "Times New Roman", Trebuchet MS, sans-serif;  /* Trebuchet MS Palatino*/
};

/* What is this for? */
div {
    margin-bottom: 10px;
 }
 
/* What is this for? */
label {
    display: inline-block;
    width: 150px;
 }

/* Style the Header tag */
h1 {
   text-align: center;
}

/* Make a grid for the puzzles */
#grid-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

/* Styles for the grid for the puzzles (div elements) in the grid 
 * and make it a flex container
 */
#grid-container > div {
   text-align: center;
   background-color: none;
   border:brown;
}

/* Images */
#sudokuImage {
   width: 400px; 
   height: 360px; 
   object-fit: none; 
   object-position: 58% 55%;
}

#connectFourImage {
   width: 400px; 
   height: auto; 
   object-fit: cover; 
   object-position: 90% 55%;
}

 /* Links that are play buttons  */
 .button {
   font: bold 11px Arial;
   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
 }

 /* The footer */
 footer {
   background-color: #FFE1C8;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: left;
   margin: 0px;
   padding: 20px;


 /*  
   list-style-type: none;
   background-color: rgb(48, 3, 153);
   position: fixed;

 }
 