/* Styles for Sudoku page (sudoku.html)
*/

/* Center the Sudoku board */
#sudokuGraphic {
   margin-left: auto;
   margin-right: auto;
   text-align: center t
}

/* Center the controls */
#sudokuControls {
   margin-left: auto;
   margin-right: auto;

}

td {
   width: 20px;
   height: 20px;
   border: 1px solid black; 
}
