/* Styles for Sudoku page (sudoku.html) */

/* Center the Sudoku board */
#sudokuGraphic {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

/* Center the control fieldset */
#sudokuControls {
   text-align: center;
}

table {
   border-collapse: collapse;
   border: solid 2px black;
}

td:nth-child(3), th:nth-child(3) {
   border-right: solid 2px black;
}
td:nth-child(6), th:nth-child(6) {
   border-right: solid 2px black;
}
tr:nth-child(3) {
   border-bottom: solid 2px black;
}
tr:nth-child(6) {
   border-bottom: solid 2px black;
}

td {
   width: 28px;
   height: 28px;
   border: 1px solid gray; 
   text-align: center;
}

/* Default Sudoku box styling */
.sudokubox {
   color: gray;
   font-size:x-large;
}

/* styling for fixed numbers (original grid) */
.sudokubox.fixed {
   color: black;
   font-weight: bold;
}

/* styling for numbers determined with AC-3 */
.sudokubox.ac3 {
   color: blue;
}

.sudokubox.backtrack {
   color: green;
}

.sudokubox.final {
   color: red;
}

/* Styling for the buttons */
#playPause {
   width: 50px;
}
#fastForward {
   width: 50px;
}
#rewind {
   width: 50px;
}
