/* Color scheme */
/* #150A41, #FFE1C8, #55003B */
/* light blue: rgb(200, 225, 250) */
/* rgb(25, 75, 45) */

/* nav bar styling */
#nav {
   z-index: 500;
   /* Prevent content from overlapping nav bar */

}

/* Styling of nav bar list */
/* Perhaps some of the below is not used? */
#nav ul {
   display: inline;
   list-style-type: none;
   margin: 0px;
   padding: 10px;
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgb(107, 154, 180);
   color: black;
}


/* Orient list horizontal, not vertical */
#nav ul li {
   display: inline-block;
   color: black;
   padding: 10px;
}

/* Link colors in nav bar */
#nav li>a {
   color: black;
}

/*    rgb(238, 252, 255); */


/* Remove underlines in the links in the nav bar */
#nav li a:link {
   text-decoration: none;
}

#nav li a:visited {
   text-decoration: none;
}

#nav li a:hover {
   text-decoration: none;
}

#nav li a:active {
   text-decoration: none;
}


/* The nav bar takes up vertical space, so we have to move the rest of the page down */
h1 {
   padding-top: 2em;
}

h2 {
   color: rgb(44, 62, 88);
}


body {
   background-size: cover;
   display: flex;
   flex-direction: column;
   background-color: rgb(107, 154, 180);
   color: whitesmoke;
   text-align: left;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14;
   min-height: 100vh;
   margin-left: 30px;
}


#projects {
   background-color: black;
   color: rgb(83, 84, 85);
   bottom: 0px;
   padding-left: 25px;
   padding-top: 10px;
   padding-bottom: 1000px;

}


.nomargin {
   margin-left: 0px;
}

/* include a margin */
.margin {
   margin: 30px;
}

/* Make a grid for the images */
#grid-container {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
   margin-right: 0px;
   margin-left: 0px;
   width: 100%;
}

#grid-container>div {
   text-align: center;
}



/* Extra padding at the bottom of the final paragraph for the footer */
.finalp {
   margin-bottom: 4em;
}

/* Square image */
#square {
   border-radius: 0px;
}

.research {
   padding: 30px;
   margin-left: 0px;
}

.polar {
   background-color: rgb(107, 154, 180);
   color: rgb(44, 62, 88);
}

.penguin {
   background-color: rgb(61, 79, 131);
   color: rgb(219, 215, 215);
}

.blackcarbon {
   background-color: rgb(53, 54, 55);
   color: rgb(219, 215, 215);
}

.icerough {
   background-color: rgb(168, 184, 200);
   color: black;
}

.md_ice {
   background-color: whitesmoke;
   color: black;
}

/* What is this for? */
label {
   display: inline-block;
   width: 150px;
}


/* Links that are play buttons  */
.button {
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   padding: 6px 10px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 4px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: white;
   background-color: rgb(44, 62, 88);
   border-color: rgb(17, 49, 30);
}

.button:disabled {
   color: #fff;
   background-color: rgba(25, 75, 45);
   border-color: rgb(34, 47, 39);
}

/*TODO: Disable hover if the button is not active */
.button:hover {
   color: #fff;
   background-color: rgba(25, 75, 45)
      /*rgb(17, 49, 30);*/
}



/* Space at the bottom */
.spacebelow {
   margin-bottom: 100px;
}

/* Space at the top */
.spaceabove {
   margin-top: 50px;
}

#footerdiv {
   display: flex;
   flex-direction: column;
}


/* Generics for fieldset */
fieldset {
   background-color: white;
}

.colorkeybox {
   background-color: white;
   padding: 10px;
   width: 60%;
   margin: 0 auto;
}


.footer {
   height: 60px;
   width: 100%;
   background-color: rgb(107, 154, 180);
   color: rgb(83, 84, 85);
   position: fixed;
   bottom: 0px;
}