/* Color scheme */
/* #E38B29;

/* nav bar styling */
#nav {
   z-index: 500;
   /* Prevent content from overlapping nav bar */

}

/* Styling of nav bar list */
/* Perhaps some of the below is not used? */
#nav ul {
   display: inline;
   list-style-type: none;
   margin: 0px;
   padding: 10px;
   overflow: hidden;
   background-color: #FDEEDC;
   /*#E9A178;*/
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

/* Orient list horizontal, not vertical */
#nav ul li {
   display: inline-block;
   color: #E38B29;
   padding: 10px;
}

/* Link colors in nav bar */
#nav li>a {
   color: #E38B29;
}

/* Remove underlines in the links in the nav bar */
#nav li a:link {
   text-decoration: none;
}

#nav li a:visited {
   text-decoration: none;
}

#nav li a:hover {
   text-decoration: none;
}

#nav li a:active {
   text-decoration: none;
}


/* The nav bar takes up vertical space, so we have to move the rest of the page down */
/*h1 {
   padding-top: 2em;
}*/

body {
   display: flex;
   flex-direction: column;
   background-color: #FDEEDC;
   text-align: left;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14;
   min-height: 100vh;
}

/* What is this for? */
label {
   display: inline-block;
   width: 150px;
}

/* Style the Header tag */
h1 {
   text-align: center;
}

/* Make a grid for the puzzles */
#grid-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

/* Styles for the grid for the puzzles (div elements) in the grid 
 * and make it a flex container
 */
#grid-container>div {
   text-align: center;
}

#connectFourButtonDiv {
   margin-top: 60px;
}

img {
   border-radius: 0px 0px 0px 0px;
   /* Stop iphone browser showing rounded edges */
}

/* Images */
#sudokuImage {
   width: 400px;
   height: 360px;
   object-fit: none;
   object-position: 58% 55%;
   border-radius: 0px 0px 0px 0px;
   /* Stop iphone browser showing rounded edges */
   -webkit-border-radius: 0px;
}

#connectFourImage {
   width: 400px;
   height: auto;
   object-fit: cover;
   object-position: 90% 55%;
}

/* Links that are play buttons  */
.button {
   display: inline-block;
   margin-top: 5px;
   margin-bottom: 5px;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   padding: 6px 10px;
   font-size: 14px;
   line-height: 1.42857143;
   border-radius: 4px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: white;
   background-color: #E38B29;
   border-color: #E38B29;
}


.button:disabled {
   color: #fff;
   background-color: #E38B29;
   border-color: #E38B29;
}

/*TODO: Disable hover if the button is not active */
.button:hover {
   color: #fff;
   background-color: rgb(165, 108, 42);
}

/* Space at the bottom */
.spacebelow {
   margin-bottom: 100px;
}

/* Space at the top */
.spaceabove {
   margin-top: 50px;
}

#footerdiv {
   display: flex;
   flex-direction: column;
}

footer {
   position: relative;
   padding: 10px;
   background-color: #FDEEDC;
   flex: auto;
   height: auto;
   margin: -8px;
}

/* Generics for fieldset */
fieldset {
   background-color: white;
}

.colorkeybox {
   background-color: white;
   padding: 10px;
   width: 60%;
   margin: 0 auto;
}


.col1 {
   float: left;
   width: 45%;
   margin-right: 5%;
}

.row {
   padding-top: 25px;
   padding-bottom: 50px;
   padding-left: 5%;
   padding-right: 5%;
}

/* Clear floats after image containers */
.row::after {
   content: "";
   clear: both;
   display: table;
}